form {
    margin: 80px auto 80px;
    width: fit-content;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    background-color: var(--body-background);
    border: 1px solid var(--border-and-shade);
    border-radius: 10px;
}

form label {
    margin: 20px 0px 20px 20px;
    padding: 0px;
    width: fit-content;
    height: fit-content;
}

form textarea {
    margin: 0px;
    padding: 20px 20px 0px 20px;
    width: calc(95vw - 40px);
    width: calc(900px - 40px);
    height: fit-content;
    outline: none;
    border: none;
    resize: none;
    font-size: 1rem;
    background-color: var(--paper-white);
    color: var(--text-color);
}

form div {
    margin: 20px 0px 20px 20px;
    width: fit-content;
    height: fit-content;
}

form button {
    margin: 0px 10px 0px 0px;
    padding: 10px 20px;
    border: none;
    border-radius: 50px;
    border: 1px solid var(--border-and-shade);
    cursor: pointer;
    font-size: 0.9rem;
    color: var(--text-color);
}

#edit_button {
    background-color: #dbd7ff;
}

#save_button {
    background-color: #daffd7;
}

#logout_button {
    background-color: #ffd7d7;
}