#parent-content-box {
    margin: 80px auto 0px;
    width: calc(95% - 0px);
    max-width: calc(900px - 0px);
    height: fit-content;
    min-height: 100vh;
}

#content-box {
    padding: 20px 20px;
    width: calc(100% - 40px);
    height: fit-content;
    border-radius: 20px;
    background-color: var(--paper-white);
}

#content-box-spanholder {
    width: fit-content;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: start;
}

#content-box-spanholder span {
    font-size: 0.9rem;
    font-weight: 400;
    font-family: "Roboto Mono";
}

#content-box-spanholder-name {
    padding: 0px 15px 0px 0px;
}

#content-box-spanholder-date {
    padding: 0px 0px 0px 15px;
}

#content-box p {
    margin: 15px 0px 0px 0px;
    width: fit-content;
    height: fit-content;
    font-size: 1rem;
}

#parent-input-wrapper {
    position: fixed;
    bottom: 0px;
    right: 0px;
    width: 100%;
    height: fit-content;
}

#input-wrapper {
    margin: 0px auto 20px;
    padding: 10px 10px 10px 30px;
    width: calc(100% - 40px);
    max-width: calc(900px - 40px);
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 50px;
    border: 1px solid var(--border-and-shade);
    background-color: var(--paper-white);
}

#input-wrapper input {
    width: 90%;
    height: fit-content;
    border: none;
    outline: none;
    background-color: transparent;
    font-size: 1rem;
    color: var(--text-color);
}

#input-wrapper button {
    padding: 5px 7px;
    width: fit-content;
    height: fit-content;
    border: none;
    cursor: pointer;
    background-color: transparent;
    background-color: var(--accent);
    color: var(--text-color);
    border-radius: 30px;
    border: 1px solid var(--text-color);
}